# ==========================================
# CẤU HÌNH API CLOUDINARY (Upload ảnh tự do)
# ==========================================
# Lấy các thông số này từ Cloudinary Dashboard: https://console.cloudinary.com/

# Tên Cloud (Ví dụ: vcmbh1dy)
CLOUDINARY_CLOUD_NAME=vcmbh1dy

# API Key (Dãy số khoảng 15 ký tự)
CLOUDINARY_API_KEY=

# API Secret (Chuỗi ký tự bảo mật)
CLOUDINARY_API_SECRET=
